<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>


  <h1>Bienvenue sur la page {{ session.user }}
  
        <form method="post">
            <div class="text-center" >
                <button class="btn btn-primary" type="submit" name="logout_btn"> Deconnexion </button>
            </div>
        </form>
   </h1>

        {% if session.role == 'user' %}
            <h3> {{ session.user }} vous etes en mode {{session.role}} </h3>
        {% elseif session.role == 'admin' %}
            <h3> {{ session.user }} vous etes en mode {{session.role}} </h3>
        {% endif %}
  
</body>
</html>